body{
    background-color: white;
    font-family: Lato, sans-serif;
}

.payment-form{
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 6px;
}

.header{
    font-size: 26px;
    font-weight: 500;
    color: black;
    padding: 0 10px;
    border-bottom: solid 1px #ccc;
    background-color: #f0f0f0;
    min-height: 40px;
    display: flex;
    align-items: center;

}

.footer{
    background-color: #f0f0f0;
    padding: 0 10px;
    border-top: solid 1px #ccc;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.btn {
    color: white;
    padding: 8px 10px;
    border: none;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cancel {
    background-color: grey;
}

.btn-send {
    background-color: rgb(0, 157, 255);
}

.btn-cancel:hover {
    background-color: #555
}

.btn-send:hover {
    background-color: #008;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.alert {
    background: rgb(245, 196, 204);
    border: solid 1px rgb(222, 189, 189);
    border-radius: 4px;
    padding: 12px 20px;
    color: rgb(139, 42, 42);
}

.row-inputs-container {
   display: flex; 
   flex-direction: row;
   gap: 20px;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card {
    flex-basis: 40%;
}

.cvc {
    flex-basis: 30%;
}

.amount {
    flex-basis: 30%;
}

.input-with-icon {
    width: 100%;
    display: flex;
    gap: 10px;
}

.input-with-icon input {
    flex-grow: 1;
}

input, textarea {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 8px 10px;
}

.first, .last {
    flex-basis: 50%;
}

.city {
    flex-basis: 50%;
}

.state, .postal-code {
    flex-basis: 25%;
}

.accepting-cards, .messages {
    flex-basis: 50%;
}

.notes-here {
    font-size: 12px;
    color: #686666;
}

.icons {
    font-size: xxx-large;
}

